@media screen and (min-width: 1700px) {
	.about__title::after,
	.about__title::before,
	.contact__title::after,
	.contact__title::before {
		width: 25%;
	}
	.contact__title,
	.about__title {
		margin: 0 auto;
		text-align: center;
		padding-bottom: 50px;
		padding-left: 540px;
	}
	.about__title.title {
		text-align: center;
		padding-left: 0;
	}
}
@media screen and (max-width: 1280px) {
	.container {
		width: 680px;
	}
	.menu__list {
		margin-right: -10px;
		font-size: 14px;
	}
	.menu__list-item {
		padding-right: 12px;
	}
	.header__inner-link {
		font-size: 14px;
		padding: 7px 30px 7px 28px;
	}
	.header__logo {
		width: 58px;
		height: 58px;
	}
	.header__inner-phone {
		font-size: 14px;
	}
	.header__insta {
		height: 14px;
		width: 14px;
	}
	.header__inner-insta {
		padding-bottom: 0;
	}
	.top {
		background: url("../images/main/bg768px.jpg");
		background-repeat: no-repeat;
		background-size: 100%;
		height: 555px;
	}
	.top__inner-title {
		font-size: 75px;
		font-weight: 700;
		line-height: 70px;
		margin-bottom: 35px;
		padding: 85px 0 0;
	}
	.top__inner-text,
	.top__inner-btn {
		font-size: 20px;
		font-weight: 400;
	}
	.top__inner-text {
		margin-bottom: 75px;
		line-height: 25px;
	}
	.top__inner-btn {
		padding: 22px 80px;
	}
	.about__description {
		padding: 51px 40px 52px;
	}
	.about__image {
		background: url("../images/main/Flowers768.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		height: 421px;
		width: 90%;
	}
	.about__text {
		font-size: 14px;
		line-height: 20px;
	}
	.about__title,
	.contact__title {
		font-size: 50px;
		font-weight: 700;
		margin-left: 290px;
		margin-bottom: 35px;
	}
	.contact__content {
		flex-direction: column;
		height: 223px;
		align-items: flex-start;
	}
	.contact__phone,
	.contact__mail,
	.contact__instagram {
		font-size: 20px;
		font-weight: 400;
		margin-left: 223px;
	}
	.contact__title {
		margin: 0 auto 84px;
	}
	.about__title::before,
	.contact__title::before {
		margin-top: 34px;
	}
	.about__title::after,
	.contact__title::after {
		margin-top: 25px;
	}
	.contact__phone::before {
		content: "";
		background-repeat: no-repeat;
		background-image: url("../images/main/phone21.svg");
		padding-bottom: 5px;
		padding-left: 65px;
	}
	.contact__instagram::before {
		content: "";
		background-image: url("../images/main/insta21.svg");
		padding-left: 61px;
		padding-bottom: 5px;
		background-repeat: no-repeat;
	}
	.contact__mail::before {
		content: "";
		background-image: url("../images/main/mail21.svg");
		padding-left: 73px;
		padding-bottom: 5px;
		background-repeat: no-repeat;
	}
	.menu__list-link.foot,
	.footer__text,
	.footer__phone-link,
	.footer__link,
	.footer__insta-link {
		font-size: 14px;
	}
	.footer__phone-link {
		margin-right: 5px;
	}
	.footer__menu {
		margin-top: 16px;
	}
	.footer__contacts {
		margin: 12px 0 -25px 253px;
	}
	.footer__text {
		padding: 12px 0 35px 0;
	}
	.styles__link.active,
	.positions__link.inactive {
		padding: 11px 147px 12px;
	}
	.styles__link.inactive,
	.positions__link.active {
		padding: 11px 135px 11px 131px;
	}
	.styles__link,
	.positions__link,
	.positions__nav {
		font-size: 14px;
	}
	.styles__items-title {
		font-size: 17px;
		margin-right: 20px;
		margin-top: 30px;
	}
	.styles__image {
		width: 90%;
	}
	.styles__items-catalog,
	.positions__items-elements {
		display: grid;
		grid-template-columns: 233px 233px 233px;
	}
	.styles__items-element {
		margin-bottom: 47px;
	}
	.styles__items-element:last-child {
		margin-bottom: 100px;
	}
	.positions__items-title {
		margin-right: 83px;
		font-size: 20px;
		white-space: nowrap;
	}
	.positions__items-list {
		font-size: 14px;
		width: 267px;
		height: 31px;
	}
	.styles__items-catalog {
		display: grid;
		grid-template-columns: 233px 233px 233px;
	}
	.positions__image {
		width: 100%;
	}
	.positions__items-inner-text {
		font-size: 8px;
		margin-bottom: 17px;
	}
	.positions__items-element {
		width: 209px;
		margin-bottom: 50px;
	}
	.positions__items-price {
		font-size: 20px;
		margin-top: -9px;
	}
	.positions__items-inner-title {
		font-size: 14px;
		padding: 20px 0 10px 0;
	}
	.wed__base-price::after,
	.wed__service-price::after,
	.positions__items-price::after,
	.wed__items-price::after {
		content: "";
		background-image: url("../images/positions/rub_tablet.svg");
		background-repeat: no-repeat;
		position: absolute;
		width: 14px;
		height: 31px;
		margin-left: 4px;
		margin-top: 3px;
	}
	.positions__items-btn-link {
		height: 36px;
		width: 209px;
	}
	.positions__items-number {
		width: 56px;
		height: 22px;
		margin: 0 66px 34px 13px;
	}
	.positions__items-inner-subtext {
		margin: 0px 32px 10px 1px;
	}
	.positions__items-content,
	.styles__items-content {
		margin-top: 55px;
	}
	.positions__items-menu {
		margin-bottom: 53px;
	}
	.positions__items-number.number {
		margin: 10px 76px 20px 77px;
	}
	.positions__items-inner-content {
		margin: 30px 1px -1px 1px;
	}
	.positions__items-price.value {
		margin: 84px -11px 0px;
	}
	.positions__items-price.price {
		margin-top: 11px;
		margin-left: 20px;
	}
	.positions__items-inner-title.text {
		max-width: 120px;
		line-height: 20px;
		margin: -7px -10px -2px 0;
	}
	.positions__items-inner-subtext.person {
		margin: 17px 104px -10px 0px;
	}
	.positions__items-number.value {
		margin: 18px 0px 19px 20px;
	}
	.positions__items-elements {
		margin-bottom: 0;
	}
	.positions__items-inner-title.title {
		margin: 15px -6px 9px -52px;
	}
	.positions__items-inner-subtext.subtext {
		text-align: center;
		margin: 25px 32px -3px 30px;
	}
	.positions__items-inner-subtext.person {
		margin: 26px 32px -3px -75px;
	}
	.order__content-title,
	.order__content-subtext,
	.order__content-btn,
	.order__content-price-btn {
		font-size: 14px;
		line-height: 20px;
	}
	.order__content-btn {
		width: 152px;
		height: 36px;
	}
	.order__content-price-title,
	.wed__items-price {
		font-size: 20px;
	}
	.order__content-price-title {
		margin: 0 35px 36px 17px;
	}
	.order__content-price {
		box-sizing: border-box;
		width: 267px;
		height: 193px;
		border: solid #ffe4e4;
		border-width: 28px 22px;
	}
	.wed__items-price.order__content-price-total{
		font-size: 20px;
		font-weight: 400;
	}
	.order__content-price-btn {
		padding: 13px 32px 11px 35px;
		margin: 0 16px 22px 17px;
	}
	.wed__items-price {
		margin-left: 4px;
	}
	.order__input {
		width: 56px;
		height: 22px;
		margin: 2px 0 20px 38px;
	}
	.order__content-btn {
		width: 152px;
		height: 36px;
		padding: 8px 44px;
	}
	.order__content-subtext {
		font-size: 8px;
	}
	.wed__items-price.order {
		display: block;
		margin: 3px 0 10px 51px;
		font-size: 20px;
		font-weight: 400;
	}
	.order__content-title {
		margin-bottom: 10px;
	}
	.order__content-item {
		margin-right: 20px;
	}
	.order__content-image {
		width: 152px;
		height: 190px;
		overflow: hidden;
	}
	.order__content-img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.order__content-link {
		padding: 7px 35px;
		border: solid 1px #464343;
		font-size: 14px;
	}
	.order__content-inner {
		margin-bottom: 55px;
	}
	.about__title.title.order {
		margin-bottom: 50px;
	}
	.order__content-esc {
		margin-bottom: 50px;
	}
	.polygraphy__content,
	.wed__item-elements {
		display: grid;
		grid-template-columns: 233px 233px 233px;
	}
	.polygraphy__content-image {
		overflow: hidden;
		width: 100%;
	}
	.polygraphy__service-inner {
		margin-bottom: 50px;
	}
	.polygraphy__content-item:last-child {
		grid-column-end: 3;
		margin: 0 10px 50px 10px;
	}
	.polygraphy__contacts-inner {
		background-color: #ffe4e4;
		height: 140px;
	}
	.polygraphy__contact-text,
	.polygraphy__contact-link {
		font-size: 14px;
		font-weight: 700;
		line-height: 20px;
	}
	.polygraphy__design-wrap {
		display: none;
	}
	.polygraphy__contact-text {
		text-align: center;
		padding-top: 45px;
	}
	.polygraphy__contact-link {
		padding-left: 323px;
	}
	.wed__items-img {
		width: 209px;
		height: 249px;
	}
	.wed__items-btn-link {
		background-color: #5ab6bb;
		height: 36px;
		width: 210px;
		font-size: 14px;
		color: #fff;
	}
	.wed__item-elements {
		margin: 0 auto;
	}
	.wed__items-element {
		margin-bottom: 38px;
		width: 100%;
	}
	.wed__base-title,
	.wed__service-title {
		font-size: 20px;
		padding: 31px 119px 16px 22px;
	}
	.wed__base-btn-link,
	.wed__service-btn-link {
		height: 36px;
		width: 324px;
	}
	.wed__base-image {
		width: 57%;
	}
	.wed__base-title,
	.wed__service-title {
		font-size: 20px;
		padding: 28px 119px 16px 24px;
	}
	.softness__base-description,
	.wed__base-description {
		padding: 0px 50px 0px 44px;
	}
	.wed__base-item,
	.wed__service-item {
		margin-bottom: 15px;
		font-size: 14px;
	}
	.wed__base-inner {
		margin-bottom: 50px;
	}
	.wed__base-number,
	.wed__service-number {
		width: 56px;
		height: 22px;
		margin: 0 0 14px 56px;
	}
	.wed__base-price,
	.wed__service-price {
		font-size: 20px;
		margin-left: 147px;
	}
	.wed__service-price.polygraphy__design-price{
		margin-left: 20px;
		margin-top: -2px;
	}
	.polygraphy__design-price {
		margin-top: -2px;
	}
	.wed__base-inner-subtext,
	.wed__service-inner-subtext {
		font-size: 8px;
		margin: -36px 8px 6px 244px;
	}
	.wed__base-content-items,
	.dusty__base-content-items,
	.wed__service-content-items {
		width: 345px;
	}
	.about__title.title {
		margin-bottom: 50px;
	}
	.wed__service-title {
		padding: 30px 162px 10px 53px;
	}
	.wed__service-subtitle {
		font-size: 14px;
		padding: 0 0 27px 55px;
	}
	.wed__service-description,
	.dusty__service-description {
		padding: 0 0 20px 73px;
	}
	.wed__service-price {
		margin-left: 161px;
	}
	.wed__items-number {
		width: 56px;
		height: 22px;
		margin: -3px 26px 20px 79px;
	}
	.wed__items-inner-content {
		margin: 24px 0 0 -22px;
		align-items: flex-end;
	}
	.wed__items-inner-title {
		font-size: 14px;
	}
	.wed__items-price {
		margin-left: 16px;
		font-size: 14px;
		font-weight: 400;
	}
	.wed__items-inner-subtext {
		margin: 20px 24px 12px 7px;
	}
	.wed__items-inner-content.inner__content {
		display: block;
		position: relative;
	}
	.wed__items-price.item__price {
		position: absolute;
		top: 71px;
		left: 166px;
	}
	.wed__items-inner-title.inner__title {
		padding: 0px 66px 0px 70px;
	}
	.wed__items-number.item__number {
		margin: 0px 20px 19px 13px;
	}
	.wed__items-inner-subtext.subtext__inner {
		margin: 19px 129px 9px 0px;
	}
	.about__title.dusty__title {
		margin-right: -50px;
	}
	.wed__item-element {
		margin-bottom: 35px;
	}
	.wed__items-element.element__item {
		position: relative;
		left: 100%;
		margin-bottom: 50px;
	}
	.confirm__content-title,
	.confirm__content-order {
		font-size: 14px;
	}
	.confirm__input-name,
	.confirm__input-phone,
	.confirm__input-adress,
	.confirm__input-date {
		width: 372px;
		height: 29px;
		font-size: 14px;
		font-weight: 400;
	}
	.confirm__input-date {
		width: 199px;
		height: 29px;
	}
	.confirm__content-price {
		height: 177px;
		width: 33%;
		border-width: 22px 24px;
	}
	.confirm__content-text {
		font-family: "Montserrat", sans-serif;
		font-size: 14px;
		line-height: 20px;
		padding-left: 16px;
		padding-right: 38px;
	}
	.confirm__content-items {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	.confirm__content-title,
	.confirm__input-name,
	.confirm__input-adress {
		margin-bottom: 22px;
	}
	.confirm__input-phone {
		margin-bottom: 22px;
	}
	.confirm__content-item {
		margin-right: 20px;
	}
	.confirm__content-order {
		padding: 16px 0px 29px 14px;
		font-weight: 500;
	}
	.confirm__content-price-title {
		padding: 0px 0px 10px 16px;
		font-size: 14px;
	}
	.confirm__content-quantity {
		padding-right: 21px;
	}
	.confirm__content-subtotal {
		width: 80%;
	}
	.confirm__content-quantity,
	.confirm__content-subtotal {
		font-size: 14px;
	}
	.confirm__content-items {
		margin-bottom: 10px;
	}
	.confirm__content-subtotal::after,
	.confirm__content-price-total::after {
		content: "";
		background-image: url("../images/ruble-min.svg");
		background-repeat: no-repeat;
		position: absolute;
		width: 10px;
		height: 13px;
		margin-left: 2px;
		margin-top: 1px;
	}
	.confirm__content-price-btn {
		height: 36px;
		width: 381px;
		font-size: 14px;
	}
	.confirm__content-esc {
		margin-bottom: 26px;
	}
	.popup__title {
		font-size: 50px;
		font-weight: 700;
		padding: 32px 33px 30px 49px;
	}
	.popup__text {
		font-size: 20px;
		line-height: 24px;
		padding: 0 40px 31px 76px;
	}
	.popup__img {
	margin-top: 100px;
	}
	.popup__image {
		height: 80%;
		}
		.popup__content{
margin-bottom: 30px;
		}
}

@media screen and (max-width: 767px) {
	.container {
		max-width: 100%;
		padding: 0;
		overflow: hidden;
	}
	.header__inner {
		justify-content: center;
	}
	.header__inner-link,
	.header__inner-phone,
	.menu__list {
		font-size: 12px;
	}
	.header__inner-link {
		padding: 5px 9px 5px 8px;
		margin-top: 20px;
	}
	.menu {
		position: absolute;
		left: 0;
		right: 0;
		background-color: #fff;
		text-align: center;
		transform: translateY(-300%);
		transition: all 0.3s;
		font-size: 16px;
	}
	.menu.menu--active {
		transform: translateY(0%);
		margin-top: -30px;
		width: 100vw;
		height: 100%;
		z-index: 2;
	}
	.menu__btn {
		display: block;
	}
	.menu__list {
		display: block;
	}
	.header__logo,
	.footer__logo {
		width: 40px;
		height: 40px;
	}
	.footer__logo {
		margin-left: 10px;
	}
	.header__inner-logo {
		margin: 0;
	}
	.header__inner-phone {
		margin-right: 10px;
	}
	.header__inner-insta {
		margin-right: 10px;
	}
	.menu__list-logo {
		margin-top: 36px;
	}
	.menu__list-item {
		margin-bottom: 17px;
	}
	.menu__list-logo.menu--logo {
		display: block;
	}
	.menu__list {
		display: inline;
	}
	.top {
		background: url("../images/main/bg320px.jpg");
		background-repeat: no-repeat;
		background-size: 100%;
		margin-bottom: 50px;
	}
	.top__inner {
		text-align: center;
	}
	.top__inner-title {
		font-family: "Cormorant", serif;
		font-size: 40px;
		line-height: 35px;
		margin-bottom: 31px;
		text-align: center;
	}
	.top__inner-text {
		margin-bottom: 51px;
		line-height: 15px;
		font-size: 12px;
		text-align: centr;
		padding: 0;
	}
	.top__inner-btn {
		padding: 19px 81px;
		display: inline-block;
		white-space: nowrap;
		font-size: 15px;
	}
	.about__image {
		display: none;
	}
	.about__description {
		margin-left: 0;
	}
	.about__text {
		font-size: 12px;
		font-weight: 400;
		line-height: 15px;
	}
	.about__title,
	.contact__title {
		font-size: 30px;
		font-weight: 700;
		margin: 0 auto;
		padding-bottom: 10px;
	}
	.about__title::before,
	.about__title::after,
	.contact__title::before,
	.contact__title::after {
		display: none;
	}
	.about__description {
		margin: 41px 0px 15px;
	}
	.contact__phone::before {
		content: "";
		background-repeat: no-repeat;
		background-image: url("../images/main/phone15.svg");
		padding-bottom: 5px;
		padding-left: 25px;
	}
	.contact__instagram::before {
		content: "";
		background-image: url("../images/main/insta15.svg");
		padding-left: 20px;
		padding-bottom: 5px;
		background-repeat: no-repeat;
	}
	.contact__mail::before {
		content: "";
		background-image: url("../images/main/mail15.svg");
		padding-left: 25px;
		background-repeat: no-repeat;
	}
	.contact__mail {
		padding-bottom: 3px;
	}
	.contact__phone,
	.contact__mail,
	.contact__instagram {
		font-weight: 400;
		margin-left: 25%;
		font-size: 12px;
		line-height: 14px;
	}
	.contact__title {
		padding-bottom: 30px;
	}
	.contact__phone {
		margin-top: 34px;
	}
	.contact__mail {
		margin-top: 20px;
	}
	.contact__instagram {
		margin-top: 20px;
	}
	.contact__content {
		height: 150px;
		justify-content: flex-start;
	}
	.footer__menu,
	.footer__year {
		display: none;
	}
	.footer__phone-link,
	.footer__insta-link {
		font-size: 12px;
	}
	.footer__contacts {
		margin: -31px 0px -68px 90px;
	}
	.footer__mail {
		margin-left: -35px;
		margin-bottom: 20px;
		margin-top: 10px;
	}
	.footer__phone {
		margin-bottom: -10px;
	}
	.styles__items-title {
		font-size: 12px;
		margin: 15px 0 36px;
	}
	.styles__image {
		width: 105%;
		overflow: hidden;
	}
	.styles__items-catalog,
	.positions__items-elements {
		display: block;
		margin: 0 auto;
	}
	.styles__items-element {
		margin-bottom: 36px;
		margin-left: -5px;
	}
	.styles__items-element:last-child {
		margin-bottom: 51px;
	}
	.about__title.title {
		margin: 60px 0 50px;
		text-align: center;
	}
	.styles__top,
	.positions__nav {
		display: none;
	}
	.styles__link.active,
	.styles__link.inactive,
	.positions__link.active,
	.positions__link.inactive {
		padding: 13px 50px;
		font-size: 12px;
	}
	.positions__items-catalog {
	flex-direction: column;
	}
	.styles__items-content {
		margin-bottom: 50px;
	}
	.positions__items-title {
		font-size: 18px;
		margin-bottom: 16px;
	}
	.positions__items-menu {
		flex-direction: column;
		align-items: center;
	}
	.positions__items-list {
		font-size: 18px;
		width: 290px;
		height: 43px;
		font-family: "Montserrat", sans-serif;
		letter-spacing: -1px;
	}
	.positions__image {
		width: 154%;
		margin-left: -56px;
	}
	.positions__items-inner-title {
		font-size: 18px;
		padding: auto;
		margin: 30px -14px 21px;
		line-height: 25px;
	}
	.positions__items-inner-text {
		font-size: 10px;
		width: 320px;
		text-align: center;
		margin-left: -53px;
	}
	.positions__items-price {
		font-size: 30px;
		margin-top: -12px;
	}
	.positions__items-price::after {
		content: "";
		background-image: url("../images/positions/ruble.svg");
		background-repeat: no-repeat;
		position: absolute;
		width: 14px;
		height: 31px;
		margin-left: 4px;
		margin-top: 4px;
	}
	.positions__items-btn-link {
		width: 290px;
		height: 52px;
		margin: -7px 0px 0 -38px;
	}
	.positions__items-price.price {
		margin-top: 10px;
		margin-left: 40px;
	}
	.positions__items-inner-content {
		margin: 30px 1px -15px -67px;
	}
	.positions__items-price.value {
		margin: 61px 18px 10px;
	}
	.positions__items-inner-subtext.person {
		margin: 60px 106px 0px -100px;
	}
	.positions__items-number.value {
		margin: 9px 0px 30px -31px;
	}
	.positions__items-inner-title.text {
		margin: 0px 41px -8px 0;
		white-space: nowrap;
	}
	.positions__items-inner-title.title {
		margin: 15px -6px 9px 0;
	}
	.positions__items-number.number {
		margin: 10px 76px 37px 77px;
	}
	.order__content-wrapper {
		margin: 0 auto;
	}
	.order__content-item {
		justify-content: center;
		margin-bottom: 30px;
		width: auto;
	}
	.order__content-inner {
		display: block;
		margin-bottom: 15px;
		text-align: center;
	}
	.order__content-price {
		box-sizing: border-box;
		border: none;
	}
	.wed__items-price.order__content-price-total {
		margin-right: 180px;
	}
	.about__title.title.order {
		margin-top: 38px;
		margin-bottom: 21px;
	}
	.order__content-title,
	.order__content-btn,
	.order__content-price-btn,
	.order__content-esc,
	.order__content-link,
	.order__content-price-title {
		font-size: 12px;
	}
	.order__content-title {
		margin: -3px 0 4px 0;
		line-height: 15px;
	}
	.order__content-subtext {
		font-size: 10px;
	}
	.order__content-btn {
		padding: 4px 40px;
		width: 124px;
		height: 27px;
	}
	.order__input {
		width: 63px;
		height: 25px;
		margin: 0px 27px 12px 30px;
	}
	.wed__items-price.order {
		display: block;
		margin: 5px 0 12px -14px;
	}
	.order__content-price {
		padding-top: 0;
		margin-top: 30px;
	}
	.order__content-price-title {
		margin: 0px -12px 28px 0px;
	}
	.order__content-link {
		padding: 17px 81px;
	}
	.order__content-price {
		height: 117px;
		margin: 0 auto 35px;
		width: 21em;
		text-align: center;
	}
	.order__content-price-btn {
		margin: 0px 0px 0px 22px;
		padding: 20px 0px 17px 0px;
		display: block;
		width: 289px;
	}
	.order__content-subtext {
		margin-left: 0px;
	}
	.order__content-esc {
		display: block;
		text-align: center;
		margin: 0 auto 35px;
		white-space: nowrap;
	}
	.order__content-image {
		height: 168px;
		max-width: 100%;
	}
	.footer {
		height: 70px;
		text-align: center;
	}
	.footer__wrapper {
		justify-content: center;
	}
	.wed__nav {
		display: none;
	}
	.polygraphy__service-inner {
		margin-bottom: 22px;
		display: flex;
		flex-flow: column-reverse wrap-reverse;
		overflow: hidden;
	}
	.polygraphy__image {
		background-image: url("../images/polygraphy/background320.jpg");
		width: 100%;
		height: 289px;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.about__title.title {
		margin: 38px 0 22px;
	}
	.polygraphy__service-content {
		margin: 0 auto;
		width: 100%;
		height: 190px;
	}
	.polygraphy__content {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	.polygraphy__contact-text,
	.polygraphy__contact-link {
		font-size: 12px;
	}
	.polygraphy__design-title {
		margin: 50px auto 18px 79px;
		font-size: 12px;
		line-height: 15px;
		font-style: 400;
	}
	.polygraphy__design-element {
		font-size: 12px;
	}
	.wed__base-price,
	.wed__service-price {
		font-size: 20px;
	}
	.order__content-title {
		width: 100%;
	}
	.polygraphy__design-price {
		margin-top: -10px;
	}
	.polygraphy__design-element {
		margin-left: 79px;
		padding-bottom: 15px;
	}
	.polygraphy__contacts-wrapper {
		width: 320px;
	}
	.polygraphy__contact-text {
		font-weight: 400;
	}
	.polygraphy__contact-link {
		padding-left: 28px;
	}
	.polygraphy__contacts-inner {
		height: 166px;
	}
	.about__title.title.polygraphy__title {
		text-align: center;
	}
	.polygraphy__content-item {
		margin: 0;
	}
	.polygraphy__content-image {
		margin-bottom: 30px;
		max-width: 100%;
	}
	.polygraphy__content-item:last-child {
		margin: 0;
	}
	.wed__base-inner,
	.wed__service-inner {
		flex-direction: column-reverse;
	}
	.wed__base-content {
		margin-top: 0px;
		width: 100%;
	}
	.wed__base-image {
		width: 112%;
		height: 422px;
		object-fit: cover;
		overflow: hidden;
		margin: 0 -41px;
	}
	.wed__base-content-items,
	.dusty__base-content-items,
	.wed__service-content-items {
		width: 112%;
		position: relative;
		margin: 0 -41px;
	}
	.wed__base-wrapper,
	.wed__service-wrapper {
		margin-left: 45px;
	}
	.wed__base-title,
	.wed__service-title {
		font-size: 18px;
		padding: 28px 80px 16px 24px;
	}
	.wed__base-item,
	.wed__service-item {
		font-size: 12px;
	}
	.wed__base-price,
	.wed__service-price {
		font-size: 30px;
		margin-left: -27px;
		margin-right: 30px;
	}
	.wed__base-btn,
	.wed__service-btn {
		margin: 0 auto;
	}
	.wed__base-btn-link,
	.wed__service-btn-link,
	.wed__items-btn-link {
		height: 52px;
		width: 290px;
		position: relative;
		left: 50%;
		transform: translate(-50%, 0);
	}
	.wed__base-price-content,
	.wed__service-price-content {
		justify-content: center;
	}
	.wed__base-inner-content,
	.wed__service-inner-content {
		max-width: 320px;
		margin: 57px auto;
	}
	.wed__base-inner-subtext,
	.wed__service-inner-subtext {
		margin-left: 210px;
	}
	.wed__base-price::after,
	.wed__service-price::after,
	.positions__items-price::after,
	.wed__items-price::after {
		content: "";
		background-image: url("../images/positions/ruble.svg");
		background-repeat: no-repeat;
		position: absolute;
		width: 14px;
		height: 31px;
		margin-left: 4px;
		margin-top: 4px;
		z-index: 1;
	}
	.wed__items-price.order__content-price-total::after,
	.wed__items-price.order::after {
		content: "";
		background-image: url("../images/positions/rub_tablet.svg");
		background-repeat: no-repeat;
		position: absolute;
		width: 14px;
		height: 31px;
		margin-left: 4px;
		margin-top: 3px;
		z-index: 1;
	}
	.wed__base-number,
	.wed__service-number {
		width: 63px;
		height: 25px;
		margin: 0 0 26px 100px;
	}
	.wed__base-inner {
		margin-bottom: -7px;
	}
	.wed__service-title {
		padding-left: 54px;
	}
	.wed__service-number {
		margin-left: 123px;
	}
	.wed__item-elements {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		margin-bottom: 45px;
	}
	.wed__items-img {
		height: 417px;
		width: 112%;
		object-fit: cover;
		overflow: hidden;
		margin: 0 -41px;
	}
	.wed__items-number {
		width: 63px;
		height: 25px;
		margin: -3px 26px 28px -7px;
		position: relative;
		left: 50%;
		transform: translate(-50%, 0);
	}
	.wed__items-btn-link {
		margin-bottom: 15px;
	}
	.wed__items-price {
		font-size: 30px;
	}
	.wed__items-inner-content.inner__content {
		display: flex;
	}
	.wed__items-price.item__price {
		position: inherit;
	}
	.wed__items-inner-subtext.subtext__inner {
		margin: 19px -22px 9px 0px;
	}
	.wed__items-inner-title.inner__title {
		padding: 0;
		width: 172px;
		text-align: left;
	}
	.wed__base {
		margin: 0 auto;
	}
	.footer > .container {
		overflow: visible;
	}
	.wed__items-element.element__item {
		position: static;
	}
	.wed__service-inner {
		margin-bottom: -7px;
	}
	.confirm__content-price {
		display: none;
	}
	.confirm__content-inner {
		margin-left: auto;
		margin-right: auto;
		width: 17em;
	}
	.confirm__content-title,
	.confirm__content-order {
		font-size: 12px;
	}
	.confirm__content-price-btn {
		font-size: 12px;
		height: 51px;
		width: 289px;
		position: relative;
		left: 51%;
		transform: translate(-50%, 0);
		z-index: 1;
	}
	.confirm__input-name,
	.confirm__input-phone,
	.confirm__input-adress {
		width: 275px;
		height: 27px;
	}
	.confirm__input-date{
		width: 180px;
		height: 27px;
	}
	.confirm__content-title{
		margin-top: 20px;
	}
	.confirm__input-name,
	.confirm__input-adress {
		margin-bottom: 13px;
}
	.confirm__input-phone{
		margin-bottom: -2px;
}
	.confirm__content-esc {
		margin-bottom: 38px;
}
.confirm__content-inner {
		margin-bottom: 19px;
}
.popup__wrapper {
		display: block;
		height: 117px;
		margin-top: 30px;
}
.popup__content{
		height: 117px;
		width: auto;
}
.popup__img {
		display: none;
}
.popup__title {
		font-size: 20px;
		font-weight: 500;
		padding: 29px 65px 5px 60px;
}
.popup__text {
		font-size: 12px;
		line-height: 14px;
		width: 210px;
		margin-left: auto;
		margin-right: auto;
		padding: 0;
}
.popup__close {
		z-index: 1;
		top: 5px;
}
}
