/* @media screen and (max-width: 1220px) {
	.container {
		max-width: 1140px;
	}
	.menu__list {
		margin-right: 95px;
	}
	.top__inner-title {
		font-size: 100px;
	}
}
@media screen and (max-width: 1020px) {
	.container {
		width: 800px;
	}
	.menu__list {
		margin-right: -10px;
		font-size: 15px;
	}
	.menu__list-item {
		padding-right: 35px;
	}
} */
@media screen and (max-width: 1280px) {
	.container {
		width: 720px;
	}
	.menu__list {
		margin-right: -10px;
	}
	.menu__list-item {
		padding-right: 12px;
	}
	.header__inner-link {
		font-size: 14px;
		padding: 7px 12px 7px 12px;
	}
	.header__logo {
		width: 58px;
		height: 58px;
	}
	.header__inner-phone {
		font-size: 14px;
	}
	.header__insta {
		height: 14px;
		width: 14px;
	}
	.header__inner-insta {
		padding-bottom: 0;
}
.top {
	background: url(../images/main/bg768px.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}
.top__inner-title {
	font-size: 75px;
	font-weight: 700;
	Line-height: 70px;
	margin-bottom: 35px;
	padding: 85px 0 0;
}
.top__inner-text, .top__inner-btn {
	font-size: 20px;
	font-weight: 400;
}
.top__inner-text {
	margin-bottom: 75px;
	line-height: 25px;
}
.top__inner-btn {
	padding: 22px 80px;
}

@media screen and (max-width: 767px) {
	.container {
		max-width: 290px;
	}
	.header__inner{
		justify-content: center;
	}
	.header__inner-link,
	.header__inner-phone,
	.menu__list {
		font-size: 12px;
	}
	.header__inner-link{
		padding: 5px 9px 5px 8px;
	}
	.menu {
		position: absolute;
		left: 0;
		right: 0;
		background-color: #fff;
		text-align: center;
		transform: translateY(-300%);
		transition: all .3s;
		font-size: 16px;
	}
	.menu.menu--active{
		transform: translateY(0%);
		margin-top: -30px;
		 width: 100vw; 
		 height: 100vh; 
		
	}
	.menu__btn {
	display: block;	
}
	.menu__list{
	display: block;
}
.header__logo {
	width: 40px;
	height: 40px;
}
.header__inner-logo{
	margin: 0;
}
.header__inner-phone {
	margin-right: 10px;
}
.header__inner-insta {
	margin-right: 10px;
}

.menu__list-logo{
margin-top: 36px;
}
.menu__list-item{
	margin-bottom: 17px;
}

.menu__list-logo.menu--logo{
	display: block;
}
.menu__list{
	display: inline;
}
.menu__btn.btn--hiden{
	display: none;
}
.menu__btn--close.menu__btn--active{
	display: block;
	position: absolute;
}
.top {
	background: url(../images/main/bg320px.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

	.top__inner-title {
		font-size: 40px;
		Line-height: 35px;
		margin-bottom: 20px;
		text-align: left;
}
  	.top__inner-text {
	margin-bottom: 50px;
	line-height: 15px;
	font-size: 12px;
	text-align: left;
	margin-bottom: 50px;
}
.top__inner-btn {
	white-space: nowrap;
	font-size: 15px;
	font-weight: 400;
	padding: 19px 90px;
}
}

/* 
/* mobile */
/* .top {
	background: url(../images/main/bg320px.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}
.container {
	max-width: 290px;
}
	.top__inner-title {
		font-size: 40px;
		Line-height: 35px;
		margin-bottom: 20px;
		text-align: left;
}
  	.top__inner-text {
	margin-bottom: 50px;
	line-height: 15px;
	font-size: 12px;
	text-align: left;
	margin-bottom: 50px;
}
.top__inner-btn {
	white-space: nowrap;
	font-size: 15px;
	font-weight: 400;
	padding: 19px 90px;
}


  .top {
	background: url(../images/main/bg768.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}
.top__inner-title {
	font-size: 75px;
	font-weight: 700;
	Line-height: 70px;
	margin-bottom: 35px;
	padding: 85px 0 0;
}
.top__inner-text, .top__inner-btn {
	font-size: 20px;
	font-weight: 400;
}
.top__inner-text {
	margin-bottom: 75px;
	line-height: 25px;
}
.top__inner-btn {
	padding: 22px 80px;
}  */