body {
	font-family: "Montserrat", sans-serif;
}
a {
	text-decoration: none;
	color: #494948;
}
a:hover,
button:hover {
	opacity: 0.75;
	transition: 0.6s;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
.container {
	max-width: 1203px;
	margin: 0 auto;
	padding: 0 15px;
}
.header__inner {
	display: flex;
	align-items: center;
	white-space: nowrap;
}
.header__inner-logo {
	margin: 0 34px 0 0px;
}
.header__inner-menu {
	margin-right: 10px;
}
.menu__list {
	font-size: 18px;
	font-weight: 400;
	display: flex;
	margin-right: 305px;
}
.menu__list-item:last-child {
	margin-right: -6px;
}
.menu__list-item {
	padding-right: 50px;
}
.header__inner-phone {
	margin-right: 33px;
	font-size: 18px;
	font-weight: 400;
}
.header__inner-insta {
	padding-bottom: 3px;
	margin-right: 33px;
}
.header__inner-link {
	border: 1px solid #eb5669;
	padding: 10px 26px 10px 27px;
	color: #eb5669;
	font-size: 18px;
	font-weight: 400;
}
.header {
	border-bottom: 1px solid #afafaf;
}
.top {
	background: url("../images/main/Фон.svg");
	height: 985px;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 100%;
	margin-bottom: 100px;
}
.top__inner {
	max-width: 766px;
}

.top__inner-title {
	font-family: "Cormorant", serif;
	font-size: 120px;
	font-weight: 700;
	color: #ffffff;
	padding: 157px 0 31px 0;
	line-height: 85px;
}

.top__inner-text {
	font-size: 30px;
	font-weight: 400;
	color: #ffffff;
	line-height: 40px;
	letter-spacing: -1px;
	padding-bottom: 102px;
}
.top__inner-btn {
	background-color: #eb5669;
	padding: 26px 115px 27px 116px;
	color: #ffffff;
	font-size: 20px;
	font-weight: 400;
}
.about__wrapper {
	display: flex;
	margin-bottom: 125px;
}

.about__content {
	display: flex;
	flex-direction: column;
}
.about__description {
	padding: 72px 30px 90px;
	background-color: #ffe4e4;
	margin-left: 116px;
}
.about__title,
.contact__title {
	font-family: "Cormorant", serif;
	font-size: 70px;
	font-weight: 700;
	margin-left: 410px;
	color: #464343;
	margin-bottom: 77px;
}
.about__title::before,
.contact__title::before {
	content: "";
	position: absolute;
	left: 0;
	width: 22%;
	border-bottom: 5px solid #ececec;
	margin-top: 50px;
}
.about__title::after,
.contact__title::after {
	content: "";
	position: absolute;
	left: 0;
	width: 22%;
	border-bottom: 5px solid #b3d8e2;
	margin-top: 39px;
}
.about__text {
	font-size: 18px;
	font-weight: 400;
	background-color: #ffe4e4;
	line-height: 25px;
}
.about__image {
	background: url("../images/main/flowers1400.jpg");
	height: 536px;
	width: 64%;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 10px;
}
.contact__wrapper {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}
.contact__content {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #ffe4e4;
	height: 269px;
}
.contact__title::after,
.contact__title::before {
	width: 24%;
}
.contact__phone,
.contact__mail,
.contact__instagram {
	font-size: 30px;
	font-weight: 400;
}
.contact__phone {
	margin-left: 100px;
	margin-right: 130px;
	white-space: nowrap;
}
.contact__instagram {
	margin-right: 100px;
	
}
.contact__mail {
	margin-right: 112px;
}
.contact__phone::before {
	content: "";
	background-repeat: no-repeat;
	background-image: url("../images/main/phone.svg");
	padding-bottom: 5px;
	padding-left: 65px;
}
.contact__instagram::before {
	content: "";
	background-image: url("../images/main/insta-big.svg");
	padding-left: 61px;
	background-repeat: no-repeat;
}
.contact__mail::before {
	content: "";
	background-image: url("../images/main/mail-logo.svg");
	padding-left: 73px;
	background-repeat: no-repeat;	
}

.footer {
	border-top: 1px solid #afafaf;
}
.footer__wrapper {
	display: flex;
	align-items: center;
}
.footer__logo {
	margin: 0 27px 0 -5px;
}
.footer__menu li {
	font-size: 16px;
	font-weight: 400;
	white-space: nowrap;
	margin-top: -9px;
}
.footer__phone {
	margin-bottom: 10px;
}
.footer__phone-link {
	line-height: 19px;
	margin-right: 27px;
}
.footer__mail {
	margin-left: -26px;
}
.footer__text {
	font-size: 18px;
	font-weight: 400;
}
.footer__contacts {
	margin: 15px 0 0 200px;
	font-size: 18px;
	font-weight: 400;
	white-space: nowrap;
}
.footer__link {
	margin-right: 12px;
}
.footer__text {
	padding: 26px 0 35px 0;
}
.styles__nav,
.positions__nav,
.wed__nav {
	margin-top: 50px;
	margin-bottom: 25px;
	font-weight: 400;
	font-size: 18px;
}
.modern__inner-content,
.wed__inner-content,
.air__inner-content {
	display: flex;
	align-items: flex-end;
}
.styles__inner-line,
.positions__inner-line,
.wed__inner-line,
.modern__inner-line {
	position: absolute;
	left: 0;
	padding-bottom: 10px;
}
.styles__inner-title,
.positions__inner-title,
.wed__inner-title,
.modern__inner-title,
.air__inner-title {
	font-family: "Cormorant", serif;
	font-size: 70px;
	font-weight: 700;
	margin-left: 388px;
}
.styles__items-content,
.positions__items-content,
.wed__items-content {
	display: flex;
	justify-content: center;
}
.styles__link,
.positions__link {
	font-size: 30px;
	font-weight: 400;
}
.styles__link.active {
	padding: 16px 249px 17px 249px;
	background-color: #fbcdcd;
	border: 1px solid #6b6a6a;
}

.styles__link.inactive{
	padding: 16px 214px 17px 249px;
	background-color: #ececec;
}


.styles__items-catalog,
.positions__items-catalog {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.styles__items-content,
.positions__items-content {
	margin-bottom: 97px;
}
.styles__items-title {
	font-size: 30px;
	font-weight: 400;
	text-align: center;
	margin-top: 50px;
}
.styles__items-element {
	margin-bottom: 95px;
}
.positions__link.inactive {
	padding: 16px 249px 17px 249px;
	background-color: #ececec;
}
.positions__link.active {
	padding: 16px 214px 17px 249px;
	background-color: #fbcdcd;
	border: 1px solid #6b6a6a;
}
.positions__items-menu {
	display: flex;
	margin-bottom: 91px;
}
.positions__items-title {
	margin-right: 83px;
	font-size: 30px;
	font-weight: 400;
	white-space: nowrap;
}
.positions__items-list {
	font-size: 18px;
	font-weight: 400;
	color: #494948;
	width: 377px;
	height: 42px;
}
.positions__items-elements,
.luxury__item-elements,
.wed__item-elements {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 40px;
}

.positions__items-inner-title {
	font-size: 18px;
	font-weight: 400;
	color: #494948;
	text-align: center;
	padding: 31px 0 21px 0;
}
.positions__items-inner-text {
	font-size: 10px;
	font-weight: 400;
	color: #494948;
	text-align: center;
	margin-bottom: 25px;
}
.positions__items-inner-subtext,
.wed__items-inner-subtext {
	font-size: 10px;
	font-weight: 400;
	color: #494948;
}
.positions__items-price {
	font-size: 30px;
	font-weight: 500;
	color: #494948;
}
.positions__items-btn-link {
	background-color: #5ab6bb;
	height: 52px;
	width: 376px;
	border-style: none;
}
.positions__items-element {
	margin-bottom: 73px;
	width: 377px;
}
.positions__items-inner-subtext {
	margin: 25px 32px 6px 70px;
}
.positions__items-number {
	width: 63px;
	height: 25px;
	margin: 0 50px 34px 84px;
}
.positions__items-price {
	position: absolute;
	margin-top: -7px;
}
.positions__items-price::after {
	content: "";
	background-image: url("../images/positions/ruble.svg");
	background-repeat: no-repeat;
	position: absolute;
	width: 24px;
	height: 32px;
	margin-left: 4px;
	margin-top: 4px;
}
.positions__items-inner-title.title {
	padding: 0;
}
.positions__items-price.price {
	margin-top: -10px;
	margin-left: 20px;
}
.positions__items-inner-content {
	display: flex;
	justify-content: center;
	margin: 28px 0 0 -80px;
}
.positions__items-inner-subtext.subtext {
	text-align: center;
	margin: 25px 32px 6px 30px;
}
.positions__items-number.number {
	margin-left: 155px;
}
.softness__inner-title,
.modern__inner-title {
	margin-left: 460px;
}
.luxury__inner-title {
	margin-left: 536px;
}
.wed__inner-title {
	margin-left: 500px;
}
.wed__inner-content {
	margin-bottom: 100px;
}
.modern__inner-content {
	margin-bottom: 45px;
}
.air__inner-content {
	margin-bottom: 80px;
}
.wed__base-content {
	margin-top: 90px;
}
.modern__base-content,
.modern__service-content {
	margin-top: 195px;
}
.wed__service-inner {
	display: flex;
	margin-bottom: 91px;
}
.wed__base-inner {
	display: flex;
	margin-bottom: 70px;
}
.modern__service-inner {
	display: flex;
	margin-bottom: 328px;
}
.modern__base-inner {
	display: flex;
	margin-bottom: 360px;
}
.air__base-inner {
	display: flex;
	margin-bottom: 231px;
}
.wed__base-image,
.wed__service-image {
	width: 848px;
	height: auto;
	position: absolute;
	right: 0;
}
.modern__base-image,
.modern__service-image {
	width: 767px;
	height: auto;
	position: absolute;
	right: 0;
}
.wed__base-content-items,
.dusty__base-content-items {
	background-color: #ffe4e4;
	width: 513px;
	padding-bottom: 30px;
}
.wed__base-title,
.wed__service-title {
	font-size: 30px;
	font-weight: 500;
	line-height: 20px;
	padding: 58px 140px 26px 59px;
}
.softness__base-description,
.wed__base-description {
	padding: 0 59px 59px 78px;
}
.air__base-description {
	padding: 0 59px 106px 78px;
}
.softness__base-description {
	padding-bottom: 90px;
}
.luxury__base-description,
.mono__base-description,
.violet__base-description,
.softness__service-description,
.laconic__base-description {
	padding: 0 59px 75px 78px;
}
.wed__base-item,
.wed__service-item {
	list-style-type: circle;
	margin-bottom: 20px;
}
.wed__base-inner-content,
.wed__service-inner-content {
	margin-top: 57px;
}
.modern__base-inner-content {
	margin-top: 132px;
}
.air__base-inner-content {
	margin-top: 219px;
}

.modern__service-inner-content {
	margin-top: 69px;
}
.air__service-inner-content {
	margin-top: 120px;
}

.wed__base-inner-subtext,
.wed__service-inner-subtext {
	font-size: 10px;
	font-weight: 400;
	color: #494948;
	margin: -15px 29px 9px 325px;
}
.wed__base-price-content,
.wed__service-price-content {
	display: flex;
}
.wed__base-price,
.wed__service-price {
	font-size: 30px;
	font-weight: 500;
	color: #494948;
	margin-left: 190px;
}
.wed__base-price::after,
.wed__service-price::after,
.wed__items-price::after {
	content: "";
	background-image: url("../images/positions/ruble.svg");
	background-repeat: no-repeat;
	position: absolute;
	width: 24px;
	height: 32px;
	margin-left: 4px;
	margin-top: 4px;
}
.wed__base-number,
.wed__service-number {
	width: 65px;
	height: 23px;
	margin: 0 0 14px 73px;
}
.wed__base-btn-link,
.wed__service-btn-link {
	background-color: #5ab6bb;
	height: 52px;
	width: 457px;
	border-style: none;
}
.wed__service-content-items {
	background-color: #ffe4e4;
	width: 513px;
	margin: 29px 0 35px 0;
}
.wed__service-title {
	padding: 38px 212px 26px 95px;
}
.wed__service-subtitle {
	font-weight: 400;
	font-size: 18px;
	padding: 0 102px 27px 93px;
}
.wed__service-description,
.dusty__service-description {
	padding: 0 0 20px 109px;
}
.wed__service-price {
	margin-left: 240px;
}
.wed__service-inner-subtext {
	margin: -35px 29px 9px 325px;
}
.wed__service-number {
	margin: 0 0 68px 40px;
}
.wed__items-element {
	margin-bottom: 38px;
	width: 575px;
}
.wed__items-inner-content {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 26px 0 0 -3px;
}
.wed__items-inner-title {
	font-size: 18px;
	font-weight: 400;
	color: #494948;
	text-align: center;
	margin: 10px -3px 2px 0;
}
.wed__items-price {
	margin-top: -10px;
	margin-left: 20px;
	font-size: 30px;
	font-weight: 500;
	color: #494948;
}
.wed__items-inner-subtext {
	text-align: center;
	margin: 18px 24px 6px 30px;
}
.wed__items-number {
	width: 63px;
	height: 25px;
	margin: 2px 40px 38px 259px;
}
.wed__items-btn-link {
	background-color: #5ab6bb;
	height: 52px;
	width: 575px;
	border-style: none;
}
.wed__items-element:last-child {
	margin: 0 auto 40px;
}
.wed__base-content-items {
	padding-bottom: 13px;
}
.dusty__service-description {
	padding-bottom: 53px;
}
.modern__base-content-items,
.modern__service-content-items {
	background-color: #ffe4e4;
	box-sizing: border-box;
	width: 595px;
}
.air__inner-line {
	padding-bottom: 10px;
	width: 290px;
	overflow: hidden;
}
.air__inner-title {
	margin-left: 102px;
}
.polygraphy__service-inner {
	margin-bottom: 300px;
	display: flex;
}
.polygraphy__content {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.polygraphy__content-item:last-child {
	margin: 0 auto;
	margin-bottom: 100px;
}
.polygraphy__content-item {
	margin: 0 13px 20px 13px;
}
.polygraphy__service-content {
	background-color: #ffe4e4;
	width: 536px;
	padding-bottom: 43px;
	margin-top: 142px;
	font-size: 18px;
	font-weight: 400;
}
.polygraphy__design-price {
	margin-left: 7px;
}
.polygraphy__design-title {
	margin: 67px auto 35px 101px;
}
.polygraphy__design-item {
	display: flex;
	justify-content: start;
	align-items: center;
	margin-bottom: 20px;
}
.polygraphy__design-element {
	margin-left: 79px;
}
.polygraphy__image {
	position: absolute;
	right: 0;
	width: 825px;
}
.polygraphy__contact-text,
.polygraphy__contact-link {
	font-size: 30px;
	font-weight: 500;
	color: #464343;
	line-height: 40px;
}
.polygraphy__contact-link {
	font-weight: 700;
}
.polygraphy__contacts-inner {
	background-color: #ffe4e4;
	box-sizing: border-box;
	padding: 74px 313px 71px 360px;
}
.order__content-image {
	margin-right: 20px;
}
.order__content-inner {
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
}
.order__content-item {
	display: flex;
	width: 496px;
}
.order__content-title,
.order__content-subtext,
.order__content-btn,
.order__content-price-btn {
	font-size: 18px;
	font-weight: 400;
	line-height: 25px;
	color: #464343;
}
.order__content-title {
	margin-bottom: 20px;
}
.order__content-subtext {
	margin-left: 44px;
}
.order__input {
	width: 63px;
	height: 25px;
	margin: 20px 0 20px 68px;
}
.wed__items-price.order {
	display: block;
	margin: 0 0 27px 75px;
}
.order__content-btn {
	font-family: "Montserrat", sans-serif;
	height: 36px;
	width: 178px;
	background-color: transparent;
	border: solid 1px #464343;
}
.order__content-price {
	padding-top: 34px;
}
.order__content-price-title {
	font-size: 30px;
	font-weight: 500;
	font-family: "Roboto", sans-serif;
	color: #464343;
	display: inline-block;
	margin: 0 62px 40px 53px;
}

.order__content-price-btn {
	font-family: "Montserrat", sans-serif;
	background-color: #5ab6bb;
	height: 51px;
	width: 278px;
	border-style: none;
	color: white;
	display: block;
	margin-left: 53px;
}
.order__content-price {
	box-sizing: border-box;
	width: 471px;
	height: 261px;
	border: solid #ffe4e4;
	border-width: 39px 43px;
}
.order__content-link {
	padding: 14px;
	border: solid 1px #464343;
}
.order__content-esc {
	margin-bottom: 97px;
}
.confirm__input {
	display: block;
}
.confirm__content-title,
.confirm__content-order {
	font-family: "Montserrat", sans-serif;
	font-size: 30px;
	font-weight: 500;
	color: #464343;
}
.confirm__content-price {
	/* width: 575px; */
	/* height: auto; */
	border: solid #ffe4e4;
	border-width: 58px 50px;
}
.confirm__content-title {
	margin-bottom: 50px;
}
.confirm__input-name,
.confirm__input-phone,
.confirm__input-adress,
.confirm__input-date {
	width: 470px;
	height: 57px;
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	font-weight: 400;
}
.confirm__input-date {
	width: 213px;
	height: 57px;
	display: block;
}
.confirm__input-name,
.confirm__input-adress {
	margin-bottom: 31px;
}
.confirm__input-phone {
	margin-bottom: 56px;
}
.confirm__content-order {
	padding: 96px 0 37px 69px;
}
.confirm__content-items {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.confirm__content-order {
	margin-right: 60px;
}
.confirm__content-text {
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 25px;
	padding-left: 36px;
}
.confirm__content-quantity,
.confirm__content-subtotal {
	padding-bottom: 20px;
}
.confirm__content-subtotal::after {
	content: "";
	background-image: url("../images/ruble-min.svg");
	background-repeat: no-repeat;
	position: absolute;
	width: 10px;
	height: 13px;
	margin-left: 3px;
	margin-top: 2px;
}
.confirm__content-price-title,
.confirm__content-subtotal,
.order__content-price-total,
.confirm__content-price-total {
	font-family: "Roboto", sans-serif;
}
.confirm__content-items {
	margin-bottom: 32px;
}

.confirm__content-total {
	display: flex;
}

.confirm__content-price-title {
	font-family: "Montserrat", sans-serif;
	font-size: 30px;
	font-weight: 500;
	color: #464343;
	padding-left: 72px;
	padding-right: 72px;
	white-space: nowrap;
}

.confirm__content-inner {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.confirm__content-price-total {
	padding-right: 141px;
}

.confirm__content-price-total {
	margin-top: 0px;
	margin-left: 2px;
}
.confirm__content-price-btn {
	background-color: #5ab6bb;
	height: 51px;
	width: 477px;
	color: #ececec;
	border-style: none;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 400;
}
.confirm__content-esc {
	margin-bottom: 100px;
}
.menu__btn {
	position: relative;
	width: 18px;
	height: 12px;
	display: none;
	margin-left: 10px;
}
.menu__btn span,
.menu__btn:before,
.menu__btn:after {
	height: 1px;
	width: 100%;
	position: absolute;
	background-color: #464343;
	margin: 0 auto;
}
.menu__btn span {
	top: 6px;
}
.menu__btn:after,
.menu__btn:before {
	content: "";
}
.menu__btn:after {
	bottom: 13px;
}
.menu__btn:before {
	top: 14px;
}
.menu__list-logo {
	display: none;
}
.menu__btn--close {
	display: none;
	width: 16px;
	height: 16px;
	/* border: 1px solid #464343; */
	border: 0;
	outline: 0;

	position: absolute;
	right: 7px;
	top: 7px;
	background-color: white;
	background-image: url(../images/main/close-menu.svg);
}
